@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


.box-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box-info li {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: relative;
    background-color: white; /* Default background color */
}
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: rgba(245, 5, 5, 0.99); /* Blinking background color */
    }
}



	
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	min-height: 100vh;

	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */


body {
    font-family: Arial, sans-serif;
}
.box-info {
    list-style: none;
    padding: 0;
}
.box-info li {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.box-info li:hover {
    background-color: #f0f0f0;
}
.box-info i {
    margin-right: 15px;
}
.patient-info {
    display: none;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
	transition: background-color 0.3s ease;
}
.patient-info.active {
    display: block;
}

.patient-info ul {
    list-style: none;
    padding: 0;
    display: flex;	
    flex-wrap: wrap;
    justify-content: space-between;
}

.patient-info ul li {
    width: calc(33.33% - 10px); /* Số 10px là khoảng cách giữa các mục */
    margin-bottom: 10px;
}

.patient-info ul li i {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--blue);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider1 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider1:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider1 {
	background-color: #60eb31;
	box-shadow: 0 0 10px #60eb31, 0 0 40px #60eb31, 0 0 80px #60eb31;
	
  }
  
  input:focus + .slider1 {
	box-shadow:  #60eb31;
  }
  
  input:checked + .slider1:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider1.round1 {
	border-radius: 34px;
  }
  
  .slider1.round1:before {
	border-radius: 50%;
  }

/* switch 2 */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider2 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider2:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider2 {
	background-color: #2a08ec;
	box-shadow: 0 0 10px #2a08ec, 0 0 40px #2a08ec, 0 0 80px #2a08ec;
	
  }
  
  input:focus + .slider2 {
	box-shadow:  #2a08ec;
  }
  
  input:checked + .slider2:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider2.round2 {
	border-radius: 34px;
  }
  
  .slider2.round2:before {
	border-radius: 50%;
  }





/* switch 3 */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider3 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider3:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider3 {
	background-color: #f30404;
	box-shadow: 0 0 10px #f30404, 0 0 40px #f30404, 0 0 80px #f30404;
	
  }
  
  input:focus + .slider3 {
	box-shadow: #f30404
  }
  
  input:checked + .slider3:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider3.round3 {
	border-radius: 34px;
  }
  
  .slider3.round3:before {
	border-radius: 50%;
  }
  


#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--black);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text h2 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}

#content main .box-info li .text p {
	color: var(--dark);	
}






#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}




.container {
    width: 1320px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container .title {
	text-align: center;
	font-size: 30px;
	/* margin-bottom: 50px; */



}
.containerL{
    width: 87%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(85, 9, 9);   
}
#header {
    height: 160px;
}

.headerMid {
    height: 100px;
    width: 25px;      
}

.headerMid-logo,
.headerMid-search {
    float: left;
}

.headerMid-logo img {
    width: 77%;

    margin-top: 15%;
    margin-left: 610px;   
}

.headerMid-logo {
    width: 15%;
}


.headerMid-notify {
    width: 100%;
    padding-top: 2%;
    padding-left: 80%;
    margin-left: 10px;
}

.headerMid-notify ul {
    list-style: none;
}

.headerMid-notify ul li {
    float: left;
    padding: 3%;
    margin-left: 15%;
}

.headerMid-notify ul li a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

.headerMid-notify ul li a span {
    display: table;
    width: 100%;
}

.headerMid-notify ul li a span img {
    display: inline-block;
    max-height: 50px;
}


.containerL .login {
    margin-top: 3%;
    margin-left: 25%;
    
}

.containerL .login a {
    text-decoration: none;
    color: white;
    background-color: #46A049;
    padding: 3%;
    font-weight: 700;
}

.containerL .login a:hover {
    background-color: #fdd504;
    color: black;
}

.imgcontainer {
    text-align: center;
    margin-top: -20%;
}
.imgcontainer .login {
    margin-top: 20%;
    margin-left: 44%;
}

.imgcontainer .login a {
    text-decoration: none;
    color: white;
    background-color: #46A049;
    padding: 3%;
    font-weight: 700;
}

.imgcontainer .login a:hover {
    background-color: #fdd504;
    color: black;
}
.cancelbtn {
    width: auto;
    padding: 3% 4%;
    background-color: #f44336;
}

.cancelbtn:hover {
    background-color: red;
}
form {
    width: 36%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin: 2% auto;
    margin-right: 20%;
}


input[type=text],
input[type=password],
input[type=button],
input[type=email] {
    width: 100%;
    padding: 3% 4%;
    margin: 4% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    transition: 300ms ease-out;
}

input[type=button],
input[type=submit] {
    color: white;
    padding: 3% 4%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 100%;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: #fdd504;
    color: black;
    transition: 300ms ease-out;
}

button {
    color: white;
    padding: 3% 4%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 100%;
    transition: 300ms;
}

/* Thu gọn khung box-info */
.box-info {
    display: flex;
    justify-content: flex-start; /* Căn trái */
    padding: 10px;
    margin: 0 auto;
    max-width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng có thể */
    background-color: #f0f0f0;
    border-radius: 8px;
    gap: 20px; /* Khoảng cách giữa các khung */
}

.box-info li {
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 5px;
    text-align: center;
    background-color: #fff; /* Màu nền trắng */
    border: 1px solid #ccc; /* Viền cho khung */
    border-radius: 8px; /* Bo góc khung */
    flex: 0 0 150px; /* Chiều rộng cố định cho các khung */
}

.box-info li:hover {
    background-color: #d0e9ff; /* Màu nền khi hover */
    transform: scale(1.05); /* Tăng kích thước khi hover */
}

.box-info li i {
    display: block;
    margin-bottom: 5px;
}











